<%= render "shared/header" %>
<h1>カロリーの編集aaa</h1>

<%= form_with(model: @calorie, local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
<div class="new-calories">

  <div class="new-food">
  <%= f.text_field :food, placeholder:"食べた物" %>
  </div>

  <div class="new-calorie">
  <%= f.text_field :calorie, placeholder:"摂取したカロリー" %>kcal
  </div>

  <div class="new-image">
  <%= f.file_field :image, placeholder:"写真" %>
  </div>

  <div class="new-mamo">
  <%= f.text_field :memo, placeholder:"メモ" %>
  </div>

  <%= f.label :start_time %>
  <%= f.datetime_select :start_time %>

<div class="new-button">
  <%= f.submit "保存",class: "ui pink button" %>
  </div>


</div>
<% end %>