<%= render "shared/header" %>

<div class="ui grid">
  <div class="eight wide column">
    <div class="show-title">
      マカロン詳細
    </div>

    <h3 class="show-food">
      <%= @calorie.food %>
    </h3>

    <div class="show-calorie">
      <%= @calorie.calorie %>kcal
    </div>

    <%= image_tag @calorie.image.variant(resize: '200x200'), class:"show-image" if @calorie.image.attached? %>

    <div class="show-memo" >
      <%= @calorie.memo %>
    </div>

    <% if user_signed_in? && current_user.id == @calorie.user_id%>
      <%= link_to "編集", edit_food_path(@calorie.id), method: :get, class: "ui pink button" %>
      <%= link_to "削除", food_path(@calorie.id), method: :delete, class: "ui pink button" %>
      <%= link_to "マカロン一覧に戻る", foods_path, class: "ui pink button" %>
    <% end %>
  </div>


  <div class="eight wide column">
    <div class="show-title">
      コメント一覧
    </div>

    <% if user_signed_in? %>
      <%= form_with(model: [@calorie, @message], local: true) do |f| %>
        <%= f.text_field :message %>
        <%= f.submit '送信', class: "ui pink button" %>
      <% end %>

      <div id='messages'>
        <% @messages.reverse_each do |message| %>
          <p><%= message.message %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

